.bg {
    width: 100%;
    position: absolute;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.card {
    position: relative;
    margin-top: 200px;
    z-index: 1;
    width: 400px;
    height: 400px;
    background: rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(8, 8, 8, 0.16);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(8, 8, 8, 0.16);
}

.head {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin-left: 28px;
    stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.textbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox>input {
    outline: none;
    padding-left: 10px;
    border: none;
    left: 25px;
    width: 300px;
    height: 55px;
    border-radius: 5px;
    background-color: rgb(58, 52, 52);
    margin-top: 25px;
    margin-bottom: 25px;
    color: #fff;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: #fff;
    width: 70%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    background-color: rgb(239, 14, 14);
    border-radius: 5px;
}

.rem {
    width: 100%;
    margin-top: 15px;
    color: white;
    padding-top: 25px;
    padding-left: 15px;
}

.need {
    cursor: pointer;
    padding-right: 45px;
    float: right;
    color: #fff;
}

.need:hover {

    text-decoration: underline;
}